@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('//fonts.cdnfonts.com/css/billabong');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Sans&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat&family=Noto+Sans&family=Work+Sans:wght@300&display=swap');

.background-img {
    position: relative;
    padding-bottom: 30px;
}

.background-img::before {
    content: "";
    background-image: url('https://img.freepik.com/free-vector/colorful-tropical-memphis-background-vector_53876-136103.jpg?w=2000');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.splash-search-container{
    font-family: 'Montserrat', sans-serif
}

.splash-about-us{
    font-family: 'Montserrat', sans-serif
}

.splash-nav{
    display:flex;
    justify-content:space-between;
    margin-bottom: 30px;
    position: relative;
}

.splash-login{
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
}

.splash-login button:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}

.splash-logo{
    font-family: "billabong", sans-serif;
    font-size:35px;
    font-weight: bold;
    color: #fb3f3f;
    margin-left: 30px;
    margin-top: 10px;
}

.splash-nav-links{
    display: flex;
    justify-content: space-between;
}

.splash-logo{
    margin-left: 20px;
}

.splash-login{
    margin-right: 20px;
}

.splash-about{
    margin-right:20px
}

.splash-signup{
    margin-right:20px
}


.splash-content{
    display: flex;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.splash-img{
    width: 400px;
    height: 300px;
    object-fit: contain;

}


.splash-content-title{
    margin: 0 70px;
    margin-top: 70px;
    font-size: 40px;
    font-weight: 600;
}

.splash-content-description{
    margin: 0 70px;
    margin-top: 20px;
    font-size: 20px;
}

.splash-img{
    margin: 0 70px;
    margin-top: 30px;
}

.splash-connect-with-people{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}


.img-splash{
    height: 250px;
    width: 350px;
}

.waving-img-splash-div{
    color: rgb(89, 166, 255);
}


.img-splash:hover{
    opacity: .85;
}

.splash-category-selector h4{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-top: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif
}

.splash-category-selector-btns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    position: relative;
}

.splash-category-selector-btns button{
    border: none;
    background-color: rgb(89, 166, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.splash-category-selector-btns button:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}


.splash-search-container h4{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-top: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif
}

.splash-search-cities-btns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    position: relative;
}

.splash-search-cities-btns button{
    border: none;
    background-color: rgb(89, 166, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.splash-search-cities-btns button:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}


.splash-left-container h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    margin-left: 20px;
}

.splash-search-bar{
    display: inline;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.splash-search-bar input{
    border: 1px solid #dcdcdc;
    padding: 10px 10px;
    width: 300px;
    font-size: 18px;
    margin-left: 20px;
}

.splash-search-bar button{
    border: none;
    background-color: rgb(89, 166, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left:5px;
}

.splash-search-bar button:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}

.splash-right-container{
    width: 50%;
    margin: 25px 70px;
}

.splash-search-cities{
    display: flex;
    justify-content: space-between;
}

.splash-search-cities button{
    border: none;
    background-color: rgb(89, 166, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}

.splash-search-cities button:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}

.splash-about-us h2 {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-top: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif
}

.about-us-text{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.splash-about-us-icons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.splash-about-us-icons a{
    display: flex;
    justify-content: space-evenly;
    color:rgb(89, 166, 255);
}


.splash-about-us-icons a:hover{
    text-decoration: underline;
}


.splash-about-us-icons img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.splash-sign-up{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    position: relative;
}

.splash-about-us-btn{
    display: flex;
    border: none;
    background-color: rgb(89, 166, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}


.splash-about-us-btn:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}

.high-five-splash{
    margin-left: 75px;
}
.high-five-splash-2{
    margin-left: 250px;
}


.splash-about-us-icons p{
    margin-right: 5px;
    margin-left: 25px;;
}
