.splash-nav{
    display:flex;
    justify-content:space-between;
    margin-bottom: 30px;
}

.splash-nav-links{
    display:flex;
    justify-content:space-between;
}

.splash-logo{
    margin-left: 20px;
}

.splash-login{
    margin-right: 20px;
}

.splash-about{
    margin-right:20px
}

.splash-signup{
    margin-right:20px
}


.splash-content{
    display: flex;

}

.splash-content-title{
    margin: 0 70px;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 600;
}

.splash-content-description{
    margin: 0 70px;
    margin-top: 20px;
    font-size: 20px;
}

.splash-img{
    margin: 0 70px;
    margin-top: 30px;
}

.splash-img{
    width: 350px;
    height: 300px;
    object-fit: contain;
}
