.user-profile-event-description{
    height: 25px;
    width: 275px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.user-rsvp-event-description{
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.user-rsvp-events-container{
    border-top: 1px solid rgba(208, 208, 208, 0.5);
}


.user-profile-info{
    position: relative;
    height: 175px;
}
