img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}



.feed-events-container {
    display: grid;
    padding: 24px;
    grid-template-columns:repeat(3, minmax(0px, 1fr));
    grid-gap: 16px;
}


.feed-event-info{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

