img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.feed {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-gap: 16px;
}


.feed-events-container {
    padding: 8px;
    display: grid;
    margin: 0 auto;
    grid-template-columns:repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-rows: minmax(264px, auto);
    grid-gap: 16px;

}
