.user-profile-container{
    position: relative;
    margin-left: 0%;
    margin-right:0%;
    font-family: 'Noto Sans', sans-serif;
    margin:70px 100px;
    word-break: break-all;
}

.user-profile-info{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.5);
    margin-left: 10px;
}


.user-profile-img{
    position: absolute;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 70%;
    right:100px;
    top:5px;
}

.user-profile-bio{
    position: absolute;
    width: 40%;
    word-break: keep-all;
    overflow: scroll;
    height: 150px;
    top:50%;
    left: 0%;
}

button:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}

.user-profile-btns{
    display: flex;
    justify-content: space-between;
}

.user-profile-btns h3{
    margin-top: -5px;
    margin-left: 15px;
    font-weight: 1000;
}
