@import url('//fonts.cdnfonts.com/css/billabong');

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0px;
    background-color: #fff;
    z-index: 1;
}



#home{
    font-size: 20px;
    text-decoration: none;
    color: black;
}


#upload{
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}


#profile{
    margin-left: 30px;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.about-nav{
    margin-left: 30px;
}

#logout{
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border: none;
}

.rightNav {
    display: flex;
}

.navSearch {
    position: relative;
    align-items: center;
    margin-left: 100px;
}

.navSearch input {
    font-size: 14px;
    background-color: white;
    height: 30px;
    padding: 3px 20px;
    padding-left: 25px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}



.navSearch .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);

}


.navBar .logo a {
  font-family: "billabong", sans-serif;
  position: relative;
  font-size: 27px;
  color: #fb3f3f;
  text-decoration: none;
  margin-left: 50px;
}
