.single-event-container{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.single-event{
    width: 50%;
    float: left;
}



.single-event-header{
    margin-bottom: 0;
}

.fa-star{
    font-size:10px
}

.fa-circle{
    font-size:3px
}


.share-event-btn:hover{
    cursor: pointer;
}

.share-event-btn span{
    margin-left: 5px;
}

.event-reviews{
    display: flex;
    align-items: center;
}

.share-event-btn{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.fa-share-alt{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}
.review-length{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}

.review-length:hover{
    cursor: pointer;
}



.single-event-location{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline;
}

.single-event-location:hover{
    cursor: pointer;
}

.single-event-average-rating{
    margin-left: 5px;
    margin-right: 10px;
}

.user-event-container{
    display: flex;
    align-items: center;
    margin-top: 110px;
    width: 50%;
    float: right;
}

.single-event-image{
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}

.single-events-in-city:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}


.event-category:hover{
    cursor: pointer;
}

.rsvp{
    margin-left: 100px;
}

.share-event-container span{
    margin-right:10px
}

.share-event span{
    margin-right: 10px;
}


.share-event:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}

.delete-event button:hover{
    background-color: rgb(89, 166, 255, 0.8);
    cursor: pointer;
}
